body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f9f6ed;
}

.header {
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__titlehead {
	display: flex;
	flex-direction: column;
	letter-spacing: 3px;
}

.header__logo {
	width: 80px;
	height: 80px;
	margin: auto;
	border-radius: 40px;
}

.header__title {
	margin: 5px 0 2px 0;

	font-size: 1.7em;
	text-align: center;
}

.header__title a {
	text-decoration: none;
}

.header__subtitle {
	text-align: center;
	margin: 3px 0 5px 0;
}

.menu {
	width: 90%;
	margin: 0 5%;
	display: flex;
	justify-content: space-around;
}

.menu__item {
	width: 25%;
	border-top: 2px solid black;

	text-align: center;
}

.menu__item--active {
	border-top: 2px dotted #467446;
}

.menu__item--active a {
	color: #467446;
}

.menu__link {
	color: black;
	text-decoration: none;
}

.menu__item:hover {
	border-color: #467446;
}

.menu__item:hover > .menu__link {
	color: #467446;
	text-shadow: 1px 1px 2px #afafaf;
}

.filter {
	width: 80%;
	margin: 15px 10% 0 10%;

	display: flex;
}

.filter__showing {
	margin: 0;
	font-size: 1.5em;
}

.filter__close {
	margin: auto 0 auto 10px;
	color: red;

	font-size: 1.5em;
	text-decoration: none;
}

.list {
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

.item {
	margin: 10px 5% 20px 5%;
	padding: 0 10px;
	height: auto;
	border-radius: 3px;

	display: flex;
	flex-direction: column;
}

.item__title {
	margin-bottom: 10px;
	font-size: 2em;
}

.item__title a {
	color: #551a8b;
	text-decoration: none;
}

.item__github-link,
.item__website-link {
	margin-left: 15px;
	color: #551a8b;
}

.item__image {
	height: 70vh;
	width: 85%;
	margin: auto;
	overflow: hidden;
	border: 1px solid #a7a7a7;
	box-shadow: 1px 1px 5px grey;
}

.item__image img {
	height: 70vh;
	width: 100%;
}

.item__metadata {
	width: 80%;
	margin: 10px 10% 5px 10%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.item__tags,
.item__start-date {
	display: flex;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.item__start-date,
.item__end-date {
	text-align: center;

	flex-direction: column;
}

.item__start-date h4,
.item__start-date p,
.item__end-date h4,
.item__end-date p {
	margin: 0;
}

.item__start-date p,
.item__end-date p {
	color: white;
}

.item__start-date p {
	background-color: #54a951;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 1px 1px 2px grey;
}

.item__end-date p {
	background-color: #5a7c97;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 1px 1px 2px grey;
}

.metadata-title {
	margin: 0;
}

.item__tag {
	margin: 0 5px;
	padding: 0 5px;
	color: white;
	border-radius: 3px;
	box-shadow: 1px 1px 2px grey;
	text-decoration: none;
}

.item__tag--green {
	background-color: #54a951;
}

.item__tag--blue {
	background-color: #5a7c97;
}

.item__tag--filter {
	margin-top: 5px;
}

.item__tag p {
	margin: 0;
}

.item__language,
.item__end-date {
	display: flex;

	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.item__language {
	justify-self: end;
}

.item__description,
.item__short-description {
	width: 80%;
	margin: 10px auto;
}

.item__description a,
.item__short-description a {
	color: #551a8b;
}

.item__long-description {
	width: 80%;
	margin: 0 10%;
}

.item__published {
	width: 80%;
	margin: 0 10%;
	color: #aaaaaa;

	text-align: right;
}
