{% extends "base.html" %}

{% block title %}Work{% endblock title %}

{% block content %}
<div class="list">
  <span class="current-menu hidden">work</span>
  {% for job in jobs %}
  <div class="item">
    <h2 class="item__title"><a href="{{ job.get_absolute_url }}">{{ forloop.counter }}) {{ job.company }} -
        {{ job.title }}</a></h2>
    <div class="item__image">
      <a href="{{ job.get_absolute_url }}">
        <img src="{{ job.image.url }}" alt="{{job.company }} - {{ job.title }} image">
      </a>
    </div>
    <p class="item__description">{{ job.description }} <a href="{{ job.get_absolute_url}}">
        More
        Info</a>.</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}