{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block content %}
{% if tag %}
<div class="tag-filter">
  <h4 class="tag-filter__showing">Showing Projects Tagged:</h4>
  <div class="project__tag project__tag--green project__tag--filter">{{tag.name}}</div>
  <a href="{% url 'projects:project_list' %}" class="tag-filter__close">&times</a>
</div>
{% endif %}
<div class="project_list">
  {% for project in project_list %}
  <div class="project">
    <h2 class="project__title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h2>
    <div class="project__image">
      <img src="{{ project.image.url }}" alt="{{ project.title }} image">
    </div>
    <p class="project__short-description">{{ project.short_description }} <a href="{{ project.get_absolute_url}}">
        More
        Info</a>.</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}