{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock title %}

{% block content %}
<div class="project">
  <h2 class="project__title">{{ project.title }}<a href="{{ project.github_link }}" target="_blank"><i
        class="project__github-link fab fa-github"></i></a></h2>
  <div class="project__image">
    <img src="{{ project.image.url }}" alt="{{ project.title }} image">
  </div>
  <div class="project__metadata">
    <div class="project__tags">
      <p class="metadata-title">Tags:</p>
      {% for tag in project.tags.all %}
      <a href="{% url 'projects:project_list_by_tag' tag.name %}" class="project__tag project__tag--green">
        <p>{{ tag.name }}</p>
      </a>
      {% endfor %}
    </div>
    <div class="project__language">
      <p class="metadata-title">Main Language:</p>
      <p class="project__tag project__tag--blue">{{ project.language }}</p>
    </div>
  </div>
  <p class="project__short-description">{{ project.short_description }}</p>
  <div class="project__long-description">{{ project.long_description|linebreaks}}</div>
</div>
{% endblock content %}