{% extends "base.html" %}

{% block title %}Education{% endblock title %}

{% block content %}
<div class="list">
  <span class="current-menu hidden">education</span>
  {% for college in colleges %}
  <div class="item">
    <h2 class="item__title"><a href="{{ college.get_absolute_url }}">{{ college.college }}</a></h2>
    <div class="item__image">
      <img src="{{ college.image.url }}" alt="{{ college.college }} image">
    </div>
    <p class="item__description"> {{ college.description }} <a href="{{ college.get_absolute_url }}">More Info</a>.</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}