{% extends "base.html" %}

{% block title %}Life{% endblock title %}

{% block content %}
<div class="list">
  <span class="current-menu hidden">life</span>
  {% for experience in experiences %}
  <div class="item">
    <h2 class="item__title"><a href="{{ experience.get_absolute_url }}">{{ forloop.counter }}) {{ experience.name }}</a>
    </h2>
    <div class="item__image">
      <a href="{{ experience.get_absolute_url }}">
        <img src="{{ experience.image.url }}" alt="{{ experience.name }} image">
      </a>
    </div>
    <p class="item__description">{{ experience.description }} <a href="{{ experience.get_absolute_url }}"> More
        Info</a>.</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}